*

!.gitignore

# i3
!.config/
!.config/i3/
!.config/i3/config

# rofi
!.config/
!.config/rofi/
!.config/rofi/*

!.local/
!.local/share/
!.local/share/rofi
!.local/share/rofi/themes
!.local/share/rofi/themes/*

# termite
!.config/
!.config/termite/
!.config/termite/config


# zsh
!.zshrc

